@*@{
        ViewData["Title"] = "RoleIndex";
    }

    <h2>RoleIndex</h2>*@
@using General.Entities
@using General.Framework.Menu
@model UserRoleViewModel
@{
    ViewData["Title"] = "用户角色";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.RouteUrl("mainIndex")">首页</a>
        </li>
        <li><a href="@Url.RouteUrl("userIndex")">系统用户</a></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
</div>
<div class="page-content">
    <h1>@ViewBag.Title</h1>
    <hr />

    <div class="space-2"></div>
    <form asp-route="roleDetail" method="post" id="formRoleDetail" class="form-horizontal" onsubmit="return false;">
        @Html.AntiForgeryToken()
        @Html.Hidden("Id",1)
        <div class="form-group">
            @if (Model != null)
            {
                int i = 1;
                <div class="row">
                    <div class="col-sm-12">
                        <table id="user_datatable" class="table table-striped table-bordered table-hover dataTable no-footer">
                            <thead>
                                <tr>
                                    <th width="100px"></th>
                                    <th width="300px">名称</th>
                                    <th width="200px">时间</th>                                
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.RoleList)
                                {
                                    <tr>
                                        <td>
                                            @if (Model.UserRoleList.Any(o => o.UserId == ViewBag.Userid && o.RoleId == item.Id))
                                            {
                                                <input type="radio" name="sysResource" value="@item.Id" checked="checked" />
                                            }
                                            else
                                            {
                                                <input type="radio" name="sysResource" value="@item.Id" />
                                            }
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.CreationTime.ToString("F")</td>
         
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>


            }
        </div>
        <div class="col-md-offset-1">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                提交保存
            </button>
        </div>
    </form>
    <script>
        $(function () {
            $('#formRoleDetail').submit(function () {
                var form = $(this);
                $.modal.confirm('您确定要保存此用户角色数据？', function () {
                    form.ajaxSubmit(function (data) {
                        $.modal.alert(data);
                    });
                });
            }); return false; 
        });
    </script>
</div>






