@using General.Framework.Menu
@using General.Framework.Datatable
@using General.Entities
@model DataSourceResult<ImportTrans_main_record, SysCustomizedListSearchArg>
@{
    ViewData["Title"] = "发运条目";
}
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.RouteUrl("mainIndex")">首页</a>
        </li>
        <li>
            <a href="">进口运输</a>
        </li>
        <li class="active">发运条目</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a asp-route="editITShipmentTranCreate" class="btn btn-sm btn-pink"><i class="glyphicon glyphicon-plus"></i>添加发运条目</a>
        </div>
    </div>
    <div class="space-2"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form asp-route="itShipmentCreatetran" method="get" class="form-inline">
                        <label>关键字</label>
                        <input type="text" class="form-control" name="itemno" style="width:100px;" value="@Model.Paging.RouteArg.itemno" placeholder="编号" />
                        <input type="text" class="form-control" name="shipper" style="width:100px;" value="@Model.Paging.RouteArg.shipper" placeholder="供应商名称" />
                        <input type="text" class="form-control" name="pono" style="width:100px;" value="@Model.Paging.RouteArg.pono" placeholder="订单号" />
                        @if (@Model.Paging.RouteArg.realreceivingdatestrat != null)
                        {
                            <label>实际到货日期</label><input type="date" class="form-control" name="realreceivingdatestrat" style="width:120px;" value="@Model.Paging.RouteArg.realreceivingdatestrat.ToString("yyyy-MM-dd")" placeholder="" />
                            <label>----</label> <input type="date" class="form-control" name="realreceivingdateend" style="width:120px;" value="@Model.Paging.RouteArg.realreceivingdateend.ToString("yyyy-MM-dd")" placeholder="" />
                        }
                        else
                        {   <label>实际到货日期</label><input type="date" class="form-control" name="realreceivingdatestrat" style="width:120px;" placeholder="" />
                            <label>----</label><input type="date" class="form-control" name="realreceivingdateend" style="width:120px;"  placeholder="" />
                        }
                        <button type="submit" class="btn btn-purple btn-sm">
                            查询
                            <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form asp-route="itShipmentCreatetran" method="post" id="formitShipmentCreate" class="form-horizontal" onsubmit="return false;">
        <div id='hello' style="z-index: 102; left: 240px; overflow: auto; width: 1670px;">
            <div class="form-group">
                @if (Model != null)
                {
                    <table id="user_datatable" style="table-layout:fixed;margin-left:20px;" class="table table-striped table-bordered table-hover dataTable no-footer">
                        <thead>
                            <tr>
                                <th style="width:50px"></th>
                                <th style="width:100px">编号</th>
                                <th style="width:100px">运输代理</th>
                                <th style="width:100px">供应商名称</th>
                                <th style="width:150px">订单号</th>
                                <th style="width:100px">贸易条款</th>
                                <th style="width:100px">货物类型</th>
                                <th style="width:100px">发票金额</th>
                                <th style="width:100px">发票币种</th>
                                <th style="width:100px">实际收/提货日期</th>
                                <th style="width:100px">件数(箱数)</th>
                                <th style="width:100px">毛重</th>
                                <th style="width:100px">采购员</th>
                                <th style="width:100px">要求到货时间</th>
                                <th style="width:100px">运输方式</th>
                                <th style="width:100px">运输状态</th>
                                <th style="width:100px">航班号/船名</th>
                                <th style="width:100px">起运港</th>
                                <th style="width:100px">目的港</th>
                                <th style="width:100px">主单号</th>
                                <th style="width:100px">分单号</th>
                                <th style="width:100px">计费重量</th>
                                <th style="width:100px">实际发运日期</th>
                                <th style="width:100px">实际到港日期</th>
                                <th style="width:100px">（口岸）报关行</th>
                                <th style="width:100px">核注清单号</th>
                                <th style="width:100px">提单日期</th>
                                <th style="width:100px">申报日期</th>
                                <th style="width:100px">放行日期</th>
                                <th style="width:100px">报关单号</th>
                                <th style="width:100px">报检单号</th>
                                <th style="width:100px">生成二检明细</th>
                                <th style="width:100px">要求送货日期</th>
                                <th style="width:100px">选择自行送货或外部提货</th>
                                <th style="width:100px">实际提/送货日期</th>
                                <th style="width:100px">是否核放</th>
                                <th style="width:100px">是否已生成报检单</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Data)
                            {
                            <tr>
                                @if (item.CheckAndPass == null)
                                {
                                    <td style="width:80px;color:red;font-size:20px">   ★</td>
                                }
                                else
                                {
                                    <td style="width:80px;color:red;font-size:20px"></td>}

                                <td style="width:80px">@item.Id</td>
                                <td style="width:80px">@item.Transportation</td>
                                <td style="width:80px">@item.Shipper</td>
                                <td style="width:80px">@item.PoNo</td>
                                <td style="width:80px">@item.Incoterms</td>
                                <td style="width:80px">@item.CargoType</td>
                                <td style="width:80px">@item.Invamou</td>
                                <td style="width:80px">@item.Invcurr</td>
                                <td style="width:90px">@item.RealReceivingDate</td>
                                <td style="width:80px">@item.Pcs</td>
                                <td style="width:80px">@item.Gw</td>
                                <td style="width:80px">@item.Buyer</td>
                                <td style="width:90px">@item.RequestedArrivalTime</td>
                                <td style="width:80px">@item.ShippingMode</td>
                                <td style="width:80px">@item.Status</td>
                                <td style="width:80px">@item.FlighVessel</td>
                                <td style="width:80px">@item.Origin</td>
                                <td style="width:80px">@item.Dest</td>
                                <td style="width:80px">@item.Mbl</td>
                                <td style="width:80px">@item.Hbl</td>
                                <td style="width:80px">@item.Measurement</td>
                                <td style="width:80px">@item.Atd</td>
                                <td style="width:80px">@item.Ata</td>
                                <td style="width:80px">@item.Forwarder</td>
                                <td style="width:80px">@item.InventoryNo</td>
                                <td style="width:80px">@item.BlDate</td>
                                <td style="width:80px">@item.DeclarationDate</td>
                                <td style="width:80px">@item.ReleaseDate</td>
                                <td style="width:80px">@item.CustomsDeclarationNo</td>
                                <td style="width:80px">@item.InspectionLotNo</td>
                                <td style="width:80px">@item.IsNeedSecondCheck</td>
                                <td style="width:80px">@item.DeliveryRequiredDate</td>
                                <td style="width:80px">@item.ChooseDelivery</td>
                                <td style="width:80px">@item.ActualDeliveryDate</td>
                                <td style="width:80px">@item.CheckAndPass</td>
                                <td style="width:80px">@item.Declaration</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <pager page-value="Model.Paging"></pager>
                }
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $('#formitShipmentCreate').submit(function () {
                var form = $(this);
                var subArray = [];
                $("input[name='checkboxId']:checked").each(function () {
                    var test = $(this).next();
                    var i = 0;
                    var id = $(this).closest("tr").find("td").eq(1).find("input:checkbox");
                    var itemno = $(this).closest("tr").find("td").eq(2).find("input:text");
                    var shipper = $(this).closest("tr").find("td").eq(3).find("input:text");
                    var pono = $(this).closest("tr").find("td").eq(4).find("input:text");
                    var incoterms = $(this).closest("tr").find("td").eq(5).find("input:text");
                    var cargotype = $(this).closest("tr").find("td").eq(6).find("input:text");
                    var invamou = $(this).closest("tr").find("td").eq(7).find("input:text");
                    var invcurr = $(this).closest("tr").find("td").eq(8).find("select[name='Invcurr']");
                    var realreceivingdate = $(this).closest("tr").find("td").eq(9).find("input:data");
                    var pcs = $(this).closest("tr").find("td").eq(10).find("input:text");
                    var gw = $(this).closest("tr").find("td").eq(11).find("input:text");
                    var mSub = {
                        id: id.val(),
                        itemno: itemno.val(),
                        shipper: shipper.val(),
                        pono: pono.val(),
                        incoterms: incoterms.val(),
                        cargotype: cargotype.val(),
                        invamou: invamou.val(),
                        invcurr: invcurr.val(),
                        realreceivingdate: realreceivingdate.val(),
                        gw: gw.val(),
                        pcs: pcs.val(),
                    };
                    subArray.push(mSub);
                });
                alert(JSON.stringify(subArray));
                var _url = "/admin/itShipmentCreate/itShipmentCreateList"
                form.ajaxSubmit({
                    type: 'post', // 提交方式 get/post
                    url: _url, // 需要提交的 url
                    dataType: "json", //数据类型 注意这里！！！！！
                    data: { "kevin": JSON.stringify(subArray) },
                    success: function (data) { // data 保存提交后返回的数据，一般为 json 数据
                        // 此处可对 data 作相关处理
                        var rs = data;
                        if (rs.status == true) {
                            alert('提交成功！');
                        } else {
                            alert('提交失败！数据有误！！！');
                            window.parent.location.reload();
                        }
                    }
                });
                return false; // 阻止表单自动提交事件，必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
            });
        });
    </script>
</div>


