@using General.Entities
@model Order
@{
    ViewData["Title"] = "编辑订单";
}
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.RouteUrl("mainIndex")">首页</a>
        </li>
        <li><a href="@ViewBag.ReturnUrl">系统用户列表</a></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form asp-route="editITOrderImport" enctype="multipart/form-data" method="post" class="form-horizontal">
                @Html.HiddenFor(m => m.Id)
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">订单行号</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" asp-for="Item" placeholder="订单行号" />
                    </div>
                    <span class="inline text-danger" asp-validation-for="Item"></span>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">索引号</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="PlanItem" class="form-control" placeholder="索引号" />
                    </div>
                    <span asp-validation-for="PlanItem" class="inline text-danger "></span>
                </div>
               
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">物料代码</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="MaterialCode" class="form-control" placeholder="物料代码" />
                    </div>
                    <span asp-validation-for="MaterialCode" class="inline text-danger "></span>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">名称</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="Name" class="form-control" placeholder="名称" />
                    </div>
                    <span asp-validation-for="Name" class="inline text-danger "></span>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">牌号</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="PartNo" class="form-control" placeholder="牌号" />
                    </div>
                    <span asp-validation-for="PartNo" class="inline text-danger "></span>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">规范</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="Specification" class="form-control" placeholder="规范" />
                    </div>
                    <span asp-validation-for="Specification" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">规格</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="Size" class="form-control" placeholder="规格" />
                    </div>
                    <span asp-validation-for="Size" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">宽</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="Width" class="form-control" placeholder="宽" />
                    </div>
                    <span asp-validation-for="Width" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">长</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="Length" class="form-control" placeholder="长" />
                    </div>
                    <span asp-validation-for="Length" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">包装规格</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="Package" class="form-control" placeholder="包装规格" />
                    </div>
                    <span asp-validation-for="Package" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">订单数量</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="Qty" class="form-control" placeholder="订单数量" />
                    </div>
                    <span asp-validation-for="Qty" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">订单单位</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="Unit" class="form-control" placeholder="订单单位" />
                    </div>
                    <span asp-validation-for="Unit" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">币种</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="Currency" class="form-control" placeholder="币种" />
                    </div>
                    <span asp-validation-for="Currency" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">单价</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="UnitPrice" class="form-control" placeholder="单价" />
                    </div>
                    <span asp-validation-for="UnitPrice" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">总价</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="TotalPrice" class="form-control" placeholder="总价" />
                    </div>
                    <span asp-validation-for="TotalPrice" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">交货日期</label>
                    <div class="col-sm-3">
                        <input type="date" asp-for="LeadTime" class="form-control" placeholder="交货日期" />
                    </div>
                    <span asp-validation-for="LeadTime" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">制造商</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="Manufacturer" class="form-control" placeholder="制造商" />
                    </div>
                    <span asp-validation-for="Manufacturer" class="inline text-danger "></span>
                </div> <div class="form-group">
                           <label class="col-sm-2 control-label no-padding-right">原产国</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="Origin" class="form-control" placeholder="原产国" />
                    </div>
                    <span asp-validation-for="Origin" class="inline text-danger "></span>
                </div>

                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        提交
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>