@*@{
        ViewData["Title"] = "EditUser";
    }

    <h2>EditUser</h2>*@
@using General.Framework.Datatable
@using General.Entities
@model Schedule
@{
    Layout = "_AdminLayout2";
}


<div class="page-content">
    <div class="page-header">
        <h7 style="float:right">
            FM 090-01B
        </h7>
        <h1 align="center">器材保管/验收卡片</h1>
        <h5 align="center">Material  Storage/Acceptance  Card</h5>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form asp-route="edititBuyerce" method="post" class="form-horizontal">
                @Html.HiddenFor(m => m.Id)
                <div asp-validation-summary="All"></div>
                <table id="user_datatable" class="table table-striped table-bordered table-hover dataTable no-footer">

                    <tbody>
                        <tr>
                            <td>合同号</td>
                            <td>
                                @Model.OrderNo
                            </td>
                            <td>供应商</td>
                            <td>Supplier</td>
                            <td>制造商</td>
                            <td>@Model.Manufacturers</td>
                            <td>合格证</td>
                            <td>@Model.Qualification</td>

                        </tr>
                        <tr>
                            <td>材料名称</td>
                            <td>@Model.Description</td>
                            <td>物料代码</td>
                            <td>@Model.MaterialCode</td>
                            <td>牌号/图号</td>
                            <td>Drawing No</td>
                            <td>规格</td>
                            <td>Size</td>
                        </tr>
                        <tr>
                            <td>质量编号</td>
                            <td>@Model.BatchNo</td>
                            <td>入厂日期</td>
                            <td>Date Received</td>
                            <td>材料规范</td>
                            <td>@Model.Specification</td>
                            <td>试验报告编号</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>接收数量</td>
                            <td></td>
                            <td>拒收数量</td>
                            <td></td>
                            <td>生产日期</td>
                            <td></td>
                            <td>失效日期</td>
                            <td width="200px"></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                口&emsp;外观检查 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nabla;是&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nabla;否 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;印章 <br />
                                Visual&nbsp;Check&nbsp;Accepted&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;Yes&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;No &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Stamp
                            </td>
                            <td colspan="4" rowspan="3">
                                口&emsp;检验记录 <br />
                                Check&nbsp;Record<br /><br /><br />
                                <br /> <br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;印章 <br />
                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;Stamp
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                口&emsp;文件核对 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nabla;是&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nabla;否 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;印章 <br />
                                Document&nbsp;Review&nbsp;Accepted&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Yes&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;No &emsp;&emsp;&emsp;&emsp;&emsp;Stamp
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                口&emsp;尺寸检验 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nabla;是&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nabla;否 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;印章 <br />
                                Dimension&nbsp;Check&nbsp;Accepted&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Yes&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;No &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Stamp
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                口&emsp;校对试验报告 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nabla;是&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nabla;否 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;印章 <br />
                                Test&nbsp;Report&nbsp;Check&nbsp;Accepted&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Yes&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;No &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Stamp
                            </td>
                            <td colspan="4">
                                &emsp;结论 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nabla;接受&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nabla;不接受 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;印章 <br />
                                &emsp;Conclusion&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;Accepted&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;Rejected &emsp;&emsp;&emsp;&emsp;&emsp;Stamp

                            </td>
                        </tr>

                        <tr>
                            <td>第一次复验<br />The&nbsp;1st&nbsp;Re-test</td>
                            <td colspan="7">
                                日期&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;复验号&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;有效期&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;印章<br />
                                Date&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Report&nbsp;No.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Validity&nbsp;Date&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Stamp
                            </td>

                        </tr>
                        <tr>
                            <td>第二次复验<br />The&nbsp;2nd&nbsp;Re-test</td>
                            <td colspan="7">
                                日期&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;复验号&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;有效期&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;印章<br />
                                Date&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Report&nbsp;No.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Validity&nbsp;Date&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Stamp
                            </td>
                        </tr>
                        <tr>
                            <td>第三次复验<br />The&nbsp;3rd&nbsp;Re-test</td>
                            <td colspan="7">
                                日期&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;复验号&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;有效期&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;印章<br />
                                Date&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Report&nbsp;No.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Validity&nbsp;Date&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Stamp
                            </td>
                        </tr>
                        <tr>
                            <td>拒收单号<br />Rejection&nbsp;TagNo.</td>
                            <td colspan="2"></td>
                            <td>处理结果<br />Disposition</td>
                            <td colspan="2"></td>
                            <td>印章<br />Stamp</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>备注<br />Remarks</td>
                            <td colspan="7"></td>
                        </tr>
                    </tbody>
                </table>

            </form>
        </div>
    </div>
</div>