@using General.Framework.Menu
@using General.Framework.Datatable
@using General.Entities
@model DataSourceResult<ImportTrans_main_record, SysCustomizedListSearchArg>

@{
    ViewData["Title"] = "采购员";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.RouteUrl("mainIndex")">首页</a>
        </li>
        <li>

            <a href="">进口运输</a>
        </li>
        <li class="active">采购员</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form asp-route="itBuyer" method="get" class="form-inline">
                        <label>关键字</label>
                        <input type="text" class="form-control" name="itemno" style="width:180px;" value="@Model.Paging.RouteArg.itemno" placeholder="编号" />
                        <input type="text" class="form-control" name="shipper" style="width:180px;" value="@Model.Paging.RouteArg.shipper" placeholder="供应商名称" />
                        <input type="text" class="form-control" name="pono" style="width:180px;" value="@Model.Paging.RouteArg.pono" placeholder="订单号" />
                        <button type="submit" class="btn btn-purple btn-sm">
                            查询
                            <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form asp-route="itBuyer" method="post" id="formitBuyer" class="form-horizontal" onsubmit="return false;">
        <div class="panel panel-default">
            <div class="form-inline">
                <button class="btn btn-info btn-sm" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    确认修改
                </button>   <input type="button" id="btnSelectAll" value="全选" class="btn btn-info btn-sm" onclick="quanxuan()" />
            </div>
        </div>
        <div id='hello' style="z-index: 102; left: 240px; overflow: auto; width: 1670px;" class="form-group">
            <div class="form-group">
                @if (Model != null)
                {
                    <table id="user_datatable" class="table table-striped table-bordered table-hover dataTable no-footer" style="table-layout:fixed;margin-left:20px;">
                        <thead>
                            <tr>
                                <th width="50px"></th>
                                <th width="100px">操作</th>
                                <th width="100px">编号</th>
                                <th width="100px">运输代理</th>
                                <th width="100px">供应商名称</th>
                                <th width="150px">订单号</th>
                                <th width="100px">贸易条款</th>
                                <th width="100px">货物类型</th>
                                <th width="100px">发票金额</th>
                                <th width="80px">发票币种</th>
                                <th width="100px">实际收/提货日期</th>
                                <th width="80px">件数(箱数)</th>
                                <th width="80px">毛重</th>
                                <th width="50px">采购员</th>
                                <th width="170px">要求入厂日期</th>
                                <th style="width:100px">运输方式</th>
                                <th style="width:100px">运输状态</th>
                                <th style="width:100px">航班号/船名</th>
                                <th style="width:100px">起运港</th>
                                <th style="width:100px">目的港</th>
                                <th style="width:100px">主单号</th>
                                <th style="width:100px">分单号</th>
                                <th style="width:100px">计费重量</th>
                                <th style="width:100px">实际发运日期</th>
                                <th style="width:100px">实际到港日期</th>
                                <th style="width:100px">（口岸）报关行</th>
                                <th style="width:100px">核注清单号</th>
                                <th style="width:100px">提单日期</th>
                                <th style="width:100px">申报日期</th>
                                <th style="width:100px">放行日期</th>
                                <th style="width:100px">报关单号</th>
                                <th style="width:100px">报检单号</th>
                                <th style="width:100px">生成二检明细</th>
                                <th style="width:100px">要求送货日期</th>
                                <th style="width:100px">选择自行送货或外部提货</th>
                                <th style="width:100px">实际提/送货日期</th>
                                <th style="width:100px">是否核放</th>
                                <th style="width:100px">是否已生成报检单</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Data)
                            {
                            <tr>
                                <td>
                                    <input type="checkbox" name="checkboxId" style="left:100px" value="@item.Id" checked disabled />
                                </td> @if (@item.F_ShippingModeGiven != true)
                                {
                                    <td>

                                        <a href="@Url.RouteUrl("itBuyerSchedule", new { id = item.Id })" class="btn btn-xs btn-danger btnDelete">明细</a>
                                        @if (@item.InventoryAttachment != null || (@item.HblAttachment != null && @item.HblAttachment != "") || (@item.MblAttachment != null && @item.MblAttachment != ""))
                                        {

                                            <a href="@Url.RouteUrl("BuyerAttachment", new { id = item.Id })" class="btn btn-xs btn-info">单据</a>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td>

                                        <a href="@Url.RouteUrl("itBuyerSchedule", new { id = item.Id })" class="btn btn-xs btn-pink">明细</a>
                                        @if (@item.InventoryAttachment != null || (@item.HblAttachment != null && @item.HblAttachment != "") || (@item.MblAttachment != null && @item.MblAttachment != ""))
                                        {
                                            <a href="@Url.RouteUrl("BuyerAttachment", new { id = item.Id })" class="btn btn-xs btn-info">单据</a>
                                        }
                                    </td>
                                }
                                <td>@item.Id</td>
                                <td>@item.Transportation</td>
                                <td>@item.Shipper</td>
                                <td>@item.PoNo</td>
                                @if (@item.Incoterms == "" || item.Incoterms == null)
                                {
                                    <td>
                                        <input type="text" name="Incoterms" value="@item.Incoterms" style="background-color:lightpink;width:80px" />
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <input type="text" name="Incoterms" value="@item.Incoterms"style="width:80px"  />
                                    </td>
                                }

                                <td>@item.CargoType</td>
                                <td>@item.Invamou</td>
                                <td>@item.Invcurr</td>
                                <td>@item.RealReceivingDate</td>
                                <td>@item.Pcs</td>
                                <td>@item.Gw</td>
                                <td>@item.Buyer</td>
                                @if (@item.RequestedArrivalTime == null)
                                {
                                    <td>
                                        <input type="date" name="RequestedArrivalTime" value="@item.RequestedArrivalTime" style="height:36px;width:150px;background-color:lightpink" />
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <input type="date" name="RequestedArrivalTime" value="@item.RequestedArrivalTime.Value.ToString("yyyy-MM-dd")" style="height:36px;width:150px" />
                                    </td>
                                }
                                <td style="width:80px">@item.ShippingMode</td>
                                <td style="width:80px">@item.Status</td>
                                <td style="width:80px">@item.FlighVessel</td>
                                <td style="width:80px">@item.Origin</td>
                                <td style="width:80px">@item.Dest</td>
                                <td style="width:80px">@item.Mbl</td>
                                <td style="width:80px">@item.Hbl</td>
                                <td style="width:80px">@item.Measurement</td>
                                <td style="width:80px">@item.Atd</td>
                                <td style="width:80px">@item.Ata</td>
                                <td style="width:80px">@item.Forwarder</td>
                                <td style="width:80px">@item.InventoryNo</td>
                                <td style="width:80px">@item.BlDate</td>
                                <td style="width:80px">@item.DeclarationDate</td>
                                <td style="width:80px">@item.ReleaseDate</td>
                                <td style="width:80px">@item.CustomsDeclarationNo</td>
                                <td style="width:80px">@item.InspectionLotNo</td>
                                <td style="width:80px">@item.IsNeedSecondCheck</td>
                                <td style="width:80px">@item.DeliveryRequiredDate</td>
                                <td style="width:80px">@item.ChooseDelivery</td>
                                <td style="width:80px">@item.ActualDeliveryDate</td>
                                <td style="width:80px">@item.CheckAndPass</td>
                                <td style="width:80px">@item.Declaration</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <pager page-value="Model.Paging"></pager>
                }
            </div>
        </div>

    </form>
    <script>
        function quanxuan() {
            var obj = document.getElementById("btnSelectAll");
            if (obj.value == "全选") {
                $("input:checkbox").prop("checked", true);//全部设置为选中
                obj.value = "取消全选"
            }
            else {
                $("input:checkbox").prop("checked", false);//全部设置为未选中
                obj.value = "全选"
            }
        }
    </script>
    <script>
        $(function () {
            $('#formitBuyer').submit(function () {
                var form = $(this);
                var subArray = [];
                $("input[name='checkboxId']:checked").each(function () {
                    var test = $(this).next();
                    var i = 0;
                    var id = $(this).closest("tr").find("td").eq(0).find("input:checkbox");
                    var incoterms = $(this).closest("tr").find("td").eq(6).find("input:text");
                    var requestedArrivalTime = $(this).closest("tr").find("td").eq(14).find("input:data");

                    //  var invcurr = $(this).closest("tr").find("td").eq(3).find("select[name='invcurr']");
                    //var test1 = $(this).next();
                    var mSub = {
                        id: id.val(),
                        incoterms: incoterms.val(),
                        requestedArrivalTime: requestedArrivalTime.val(),
                    };
                    subArray.push(mSub);
                });
                //  alert(JSON.stringify(subArray));
                var _url = "/admin/itBuyer/itBuyerList"
                form.ajaxSubmit({
                    type: 'post', // 提交方式 get/post
                    url: _url, // 需要提交的 url
                    dataType: "json", //数据类型 注意这里！！！！！
                    data: { "kevin": JSON.stringify(subArray) },
                    success: function (data) { // data 保存提交后返回的数据，一般为 json 数据
                        // 此处可对 data 作相关处理
                        var rs = data;
                        if (rs.status == true) {
                            alert('提交成功！');
                        } else {
                            alert('提交失败！数据有误！！！');
                            window.parent.location.reload();
                        }
                    }
                });
                return false; // 阻止表单自动提交事件，必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
            });

        });
    </script>


</div>


