@using General.Framework.Menu
@using General.Framework.Datatable
@using General.Entities
@model DataSourceResult<InspecationMain, SysCustomizedListSearchArg>
@{
    ViewData["Title"] = "检验员审批";
}
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.RouteUrl("mainIndex")">首页</a>
        </li>
        <li>
            <a href="">进口运输</a>
        </li>
        <li class="active">检验员审批</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="space-2"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form asp-route="inspectionjyy" method="get" class="form-inline">
                        <label>关键字</label>
                        <input type="text" class="form-control" name="itemno" style="width:180px;" value="@Model.Paging.RouteArg.itemno" placeholder="送检单号" />
                        <button type="submit" class="btn btn-purple btn-sm">
                            查询
                            <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form asp-route="inspectionjyy" method="post" id="formitConfirmedCustoms" class="form-horizontal" onsubmit="return false;">
        
        <div id='hello' style="z-index: 102; left: 240px; overflow: auto; width: 1670px;">
            <div class="form-group">
                @if (Model != null)
                {
                    <table id="user_datatable" class="table table-striped table-bordered table-hover dataTable no-footer" style="table-layout:fixed;margin-left:20px;">
                        <thead>
                            <tr>

                                <th width="200px"></th>
                                <th width="220px">送检单号</th>
                                <th width="200px">所有者</th>
                                <th width="200px">计划员</th>
                                <th width="200px">状态</th>
                                <th width="200px">运单号</th>
                                <th width="200px">订单号</th>
                                <th width="200px">计划审批时间</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Data)
                            {
                            <tr>


                                <td>
                                    @if (item.flag > 4)
                                    {
                                        <a href="@Url.RouteUrl("inspectionjyysch", new { id = item.Id })" class="btn btn-xs btn-yellow">已审批</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.RouteUrl("inspectionjyysch", new { id = item.Id })" class="btn btn-xs btn-yellow">审批</a>
                                    }

                                    <a href="@Url.RouteUrl("JyyZbdAttachment", new { id = item.Id })" class="btn btn-info btn-xs">质保单</a>
                                    <a href="@Url.RouteUrl("InspectionSjdList", new { id = item.Id })" class="btn btn-xs btn-grey">导出</a>
                                </td>

                                <td>@item.InspecationMainId</td>
                                <td>@item.Creator</td>
                                <td>@item.JhyName</td>
                                @if (item.flag == 0)
                                {
                                    <td></td>
                                }
                                @if (item.flag == 1)
                                {
                                    <td style="background-color:lightpink">计划员已退回</td>
                                }

                                @if (item.flag == 2)
                                {
                                    <td>计划员审批中</td>
                                }
                                @if (item.flag == 3)
                                {
                                    <td style="background-color:lightpink">检验员已退回</td>
                                }
                                @if (item.flag == 4)
                                {
                                    <td>计划员已审批</td>
                                }
                                @if (item.flag > 4)
                                {
                                    <td>检验员已审批</td>
                                }
                                <td>@item.Waybill</td>
                                <td>@item.OrderNo</td>
                                <td>@item.JhTime</td>
                            </tr>
                            }
                        </tbody>
                   
                    </table><div style="margin-left:20px;"> <pager page-value="Model.Paging"></pager></div>


                }
            </div>
        </div>
    </form>
    <script> 
    </script>
   
</div>


