@using General.Framework.Menu
@using General.Framework.Datatable
@using General.Entities
@model DataSourceResult<Inspection, SysCustomizedListSearchArg>
@{
    ViewData["Title"] = "送检单填写";
}
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.RouteUrl("mainIndex")">首页</a>
        </li>
        <li>
            <a href="">进口运输</a>
        </li>
        <li class="active">送检单填写</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="space-2"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form asp-route="inspectionsch" method="get" class="form-inline">
                        <label>关键字</label>
                        <input type="text" class="form-control" name="itemno" style="width:180px;" value="@Model.Paging.RouteArg.itemno" placeholder="订单号" />
                        <input type="text" class="form-control" name="shipper" style="width:180px;" value="@Model.Paging.RouteArg.shipper" placeholder="质量编号" />
                        <input type="text" class="form-control" name="pono" style="width:180px;" value="@Model.Paging.RouteArg.pono" placeholder="物料代码" />
                        <button type="submit" class="btn btn-purple btn-sm">
                            查询
                            <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div><div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form asp-route="InspectionspList" method="get" class="form-inline">
                        @Html.DropDownList("Jhy", ViewData["Jhy"] as SelectList, "-请选择计划员-", new { @class = "form-control" })
                        <button type="submit" class="btn btn-purple btn-sm">
                            提交
                            <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                        </button><!--ZbdAttachment-->
                        <a href="@Url.RouteUrl("editInspectionAttachment", new { id = ViewBag.QX })" class="ace-icon fa fa-search icon-on-right bigger-110">上传</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form asp-route="inspectionsch" method="post" id="formitConfirmedCustoms" class="form-horizontal" onsubmit="return false;">
        <div class="panel panel-default">
            <div class="form-inline">
                <input class="btn btn-info btn-sm" type="submit" name="sumbit " onclick="baocun()" value="保存" />
                <input type="button" id="btnSelectAll" value="全选" class="btn btn-info btn-sm" onclick="quanxuan()" />
            </div>
        </div>
        <div id='hello' style="z-index: 102; left: 240px; overflow: auto; width: 1670px;">
            <div class="form-group">
                @if (Model != null)
                {
                    <table id="user_datatable" class="table table-striped table-bordered table-hover dataTable no-footer" style="margin-left:20px;">
                        <thead>
                            <tr>
                                <th width="50px"></th>
                                <th width="50px">操作</th>
                                <th width="80px">送检单号</th>
                                <th width="80px">备注</th>
                                <th width="80px">订单号</th>
                                <th width="80px">订单行号</th>
                                <th width="80px">项目</th>
                                <th width="80px">供应商</th>
                                <th width="80px">制造商</th>
                                <th width="80px">合格证号</th>
                                <th width="80px">材料名称</th>
                                <th width="80px">物料代码</th>
                                <th width="80px">牌号/图号</th>
                                <th width="80px">规格</th>
                                <th width="80px">质量编号</th>
                                <th width="80px">入厂日期</th>
                                <th width="80px">材料规范</th>
                                <th width="80px">采购数量</th>
                                <th width="80px">实收数量</th>
                                <th width="80px">保管员</th>
                                <th width="80px">实收时间</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Data)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" name="checkboxId" value="@item.Id" />
                                    </td>
                                    <td>
                                        <a href="@Url.RouteUrl("inspectionschupdate", new { id = item.Id })" class="btn btn-xs btn-danger btnDelete"><i class="fa fa-bolt"></i>复制</a>
                                    </td>
                                    <td>
                                        @item.Main.InspecationMainId
                                    </td>
                                    <td>
                                        <input type="text" name="Remark" value="@item.Remark" style="width:120px" />
                                    </td>
                                    <td>
                                        @item.ContractNo
                                    </td>
                                    <td>
                                        @item.Item
                                    </td>
                                    <td>
                                        @item.Project
                                    </td>
                                    <td>
                                        <input type="text" name="Supplier" value="@item.Supplier" style="width:120px" />
                                    </td>
                                    <td>
                                        <input type="text" name="Manufacturer" value="@item.Manufacturer" style="width:120px" />
                                    </td>
                                    <td>
                                        @item.CofC
                                    </td>
                                    <td>
                                        <input type="text" name="Description" value="@item.Description" style="width:120px" />
                                    </td>
                                    <td>
                                        <input type="text" name="MaterialCode" value="@item.MaterialCode" style="width:120px" />
                                    </td>
                                    <td>
                                        <input type="text" name="Type" value="@item.Type" style="width:120px" />
                                    </td>
                                    <td>
                                        <input type="text" name="Size" value="@item.Size" style="width:80px" />
                                    </td>
                                    <td>
                                        <input type="text" name="Batch" value="@item.Batch" />
                                    </td>
                                    @if (@item.ReceivedDate == null)
                                    {
                                        <td>
                                            <input type="date" name="ShipmentDate" value="@item.ReceivedDate" />
                                        </td>}
                                    else
                                    {
                                        <td>
                                            <input type="date" name="ShipmentDate" value="@item.ReceivedDate.Value.ToString("yyyy-MM-dd")" />
                                        </td>}

                                    <td>
                                        <input type="text" name="Specification" value="@item.Specification" style="width:120px" />
                                    </td>
                                    <td>
                                        <input type="number" name="Qty" value="@item.Qty" step="0.0000001" style="width:80px" />
                                    </td>
                                    <td>
                                        @item.AcceptQty
                                    </td>
                                    <td>
                                        @item.Keeper
                                    </td>
                                    <td>
                                        @item.AcceptTime
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <pager page-value="Model.Paging"></pager>

                }
            </div>
        </div>

    </form>
    <script>
        function quanxuan() {
            var obj = document.getElementById("btnSelectAll");
            if (obj.value == "全选") {
                $("input:checkbox").prop("checked", true);//全部设置为选中
                obj.value = "取消全选"
            }
            else {
                $("input:checkbox").prop("checked", false);//全部设置为未选中
                obj.value = "全选"
            }
        }
    </script>
    <script>
        function baocun() {
            $('#formitConfirmedCustoms').submit(function () {
                var form = $(this);
                var subArray = [];
                $("input[name='checkboxId']:checked").each(function () {
                    var id = $(this).closest("tr").find("td").eq(0).find("input:checkbox");
                    var remark = $(this).closest("tr").find("td").eq(3).find("input:text");
                    var supplier = $(this).closest("tr").find("td").eq(7).find("input:text");
                    var manufacturer = $(this).closest("tr").find("td").eq(8).find("input:text");
                    var description = $(this).closest("tr").find("td").eq(10).find("input:text");
                    var materialCode = $(this).closest("tr").find("td").eq(11).find("input:text");
                    var type = $(this).closest("tr").find("td").eq(12).find("input:text");
                    var size = $(this).closest("tr").find("td").eq(13).find("input:text");
                    var batch = $(this).closest("tr").find("td").eq(14).find("input:text");
                    var receivedDate = $(this).closest("tr").find("td").eq(15).find("input:data");
                    var specification = $(this).closest("tr").find("td").eq(16).find("input:text");
                    var qty = $(this).closest("tr").find("td").eq(17).find("input:data");
                    // var placeQty = $(this).closest("tr").find("td").eq(18).find("input:data");
                    var mSub = {
                        id: id.val(),
                        remark: remark.val(),
                        supplier: supplier.val(),
                        manufacturer: manufacturer.val(),
                        description: description.val(),
                        materialCode: materialCode.val(),
                        type: type.val(),
                        size: size.val(),
                        batch: batch.val(),
                        receivedDate: receivedDate.val(),
                        specification: specification.val(),
                        qty: qty.val(),
                        // placeQty: placeQty.val(),
                    };
                    subArray.push(mSub);
                });

                var _url = "/admin/inspection/InspectionxgList"
                form.ajaxSubmit({
                    type: 'post', // 提交方式 get/post
                    url: _url, // 需要提交的 url
                    dataType: "json", //数据类型 注意这里！！！！！
                    data: { "kevin": JSON.stringify(subArray) },
                    success: function (data) { // data 保存提交后返回的数据，一般为 json 数据
                        // 此处可对 data 作相关处理
                        var rs = data;
                        if (rs.status == true) {
                            alert('保存成功！');
                        } else {
                            alert('提交失败！数据有误！！！');
                            window.parent.location.reload();
                        }
                    }
                });
                return false; // 阻止表单自动提交事件，必须返回false，否则表单会自己再做一次提交操作，并且页面跳转
            });
        }
    </script>
</div>





