@using General.Framework.Menu
@using General.Framework.Datatable
@using General.Entities
@model DataSourceResult<InspectionAttachment, SysCustomizedListSearchArg>

@{
    ViewData["Title"] = "质保单下载";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.RouteUrl("mainIndex")">首页</a>
        </li>
        <li>

            <a href="">送检单</a>
        </li>
        <li class="active">质保单下载</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>

    <div class="space-2"></div>
    
    <form asp-route="ZbdAttachment" method="post" id="formitTransport" class="form-horizontal" onsubmit="return false;">
        
        <div id='hello' style="z-index: 102; left: 240px; overflow: auto; width: 1670px;">
            <div class="form-group">
                @if (Model != null)
                {

                    <table id="user_datatable" class="table table-striped table-bordered table-hover dataTable no-footer" style="margin-left:20px;">
                        <thead>
                            <tr>

                                <th width="50px">

                                </th>
                                <th width="150px">编号</th>
                                <th width="150px">类型</th>
                                <th width="150px">文件名</th>
                               
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Data)
                            {
                            <tr>

                                <td>
                                    <input type="checkbox" name="checkboxId" value="@item.Id" />
                                </td>
                                <td>
                                    @item.ImportId
                                </td>
                                <td>
                                    @item.Type
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <a href="@Url.RouteUrl("downLoadsjdfile", new { id = item.Id })" class="btn btn-xs btn-danger btnDelete"><i class="fa fa-bolt"></i>下载附件</a>
                           
 </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <pager page-value="Model.Paging"></pager>

                }
            </div>
        </div>
    </form>
    <style>
        /*谷歌*/
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        /*火狐*/
        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
    <script>
        function quanxuan() {
            var obj = document.getElementById("btnSelectAll");
            if (obj.value == "全选") {
                $("input:checkbox").prop("checked", true);//全部设置为选中
                obj.value = "取消全选"
            }
            else {
                $("input:checkbox").prop("checked", false);//全部设置为未选中
                obj.value = "全选"
            }
        }
    </script>
   
</div>


